﻿<html data-ng-app="SharepointLibrariesModule">
@{
    ViewBag.Title = "Index";
}


<body>
    <div ng-controller="SharepointLibraryController">
        Today Date is :
        {{date | date:'yyyy-MM-dd'}}
    </div>
</body>

</html>


<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/SharepointLibraries/Modules.js"></script>
<script src="~/Scripts/SharepointLibraries/Services.js"></script>
<script src="~/Scripts/SharepointLibraries/Controllers.js"></script>