﻿<html ng-app="demoApp">
<body ng-controller="SimpleController">
    <div class="container">
        <!-- card block -->
        <div class="row">
            <div class="col-xs-4" ng-repeat="cust in filteredCustomers">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">{{cust.name.first}} {{cust.name.last }}</h4>
                        <p class="card-text">{{cust.location.country}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- pagination section -->
        <div class="container">
            <div class="row" data-ng-show="customers.length == 0">
                <div class="col-span-12">
                    No results found
                </div>
            </div>
            <div class="row" data-ng-show="customers.length > 0">
                <div class="col-span-12">
                    <uib-pagination ng-model="currentPage" total-items="customers.length" max-size="maxSize" items-per-page="numPerPage" boundary-links="true"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-ui-bootstrap.js"></script>
<script src="~/Scripts/Test/script.js"></script>
<script src="~/Scripts/Test/service.js"></script>
<script src="~/Scripts/Test/controller.js"></script>