﻿<html data-ng-app="SharepointLibrariesModule">
@{
    ViewBag.Title = "Index";
}



<body data-ng-controller="SharepointLibraryController">
    <div class="container">
        <form style="margin-top:30px">

            <div class="form-group">
                <label for="folderFilter">Folder Filter</label>
                <input type="text" class="form-control" id="folderFilter" ng-model="folderFilter" placeholder="Folder Filter">

            </div>
            <div class="form-group">
                <label for="fileFilter">File Filter</label>
                <input type="text" class="form-control" id="fileFilter" ng-model="fileFilter" placeholder="File Filter">
            </div>

            <button data-ng-click="search()" class="btn btn-primary">Search</button>
        </form>
    </div>
    <div class="container-fluid" style='margin-top:30px;width: 99%;' data-ng-show="folders.length > 0">
        <div class="pull-right">
            <span>Sort By:</span>
            <button type="button" class="btn btn-default btn-sm " data-ng-click="sort('Name')">
                <span id="Name"></span>Folder Name
            </button>
            <button type="button" class="btn btn-default btn-sm " data-ng-click="sort('ModifiedDateTime')">
                <span id="ModifiedDateTime"></span>Folder Modified Date
            </button>
        </div>

    </div>
    <table id="tblContainer" style='width: 99%;table-layout:fixed;margin-top:5px' data-ng-show="folders.length > 0">
        <tr>
            <td>
                <table border="1" style=" background-color:#ECF3F4; border: solid 2px #3273d5; padding: 5px;width: 99%;table-layout:fixed;">
                    <tr style="height: 30px; background-color:#336699 ; color:#FFFFFF ;">
                        <th width="150">Folder</th>
                        <th>Created</th>
                        <th>Modified</th>
                    </tr>
                    <tbody data-ng-repeat="folder in folders">
                        <tr>
                            <td width="150">
                                <!--<input type="button" id="Detail" value="Get Files" data-ng-click="get(folder)" />-->
                                <a class="pointer" data-ng-click="get(folder)"><span>{{folder.Name}}</span></a>
                            </td>
                            <td><span>{{folder.CreatedDateTime}}</span></td>

                            <td><span>{{folder.ModifiedDateTime}}</span></td>
                        </tr>
                        <tr ng-hide="folder.isRowHidden">
                            <td>  </td>
                            <td colspan="2">
                                <!--<table style=" background-color:#ECF3F4; border: solid 2px #3273d5; padding: 5px;width: 99%;table-layout:fixed;">
                                    <tr style="height: 30px; background-color:#336699 ; color:#FFFFFF ;">
                                        <th>File</th>
                                    </tr>
                                    <tbody data-ng-repeat="file in folder.files">
                                        <tr>
                                            <td><a href="/api/Library/DownloadFile?Name={{file.Name}}&URL={{file.URL}}">{{file.Name}}</a></td>

                                        </tr>
                                    </tbody>
                                </table>-->
                                <div class="row" >
                                    <div class="col-xs-3" ng-repeat="file in folder.files">
                                        
                                        <div class="card">
                                            
                                            <div class="card-block">
                                                <h5 class="card-title"><a href="/api/Library/DownloadFile?Name={{file.Name}}&URL={{file.URL}}">{{file.Name}}</a></h5>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-xs-12" data-ng-show="folder.files.length == 0">
                                        No files
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
    <div data-ng-show="folders.length > 0">
        <div class="row" style='margin-top:30px;width: 99%;'>

            <div class="col-sm-3">
                <button id="btnPrevious" class="btn btn-primary" ng-disabled="pageInfo.PreviousPage == ''" ng-click="navigatePage(false)">Previous</button>
            </div>
            <div class="col-sm-2">
                {{pageInfo.CurrentPage}}
            </div>
            <div class="col-sm-4">
                <button id="btnNext" class="btn btn-primary" ng-disabled="pageInfo.NextPage == ''" ng-click="navigatePage(true)">Next</button>
            </div>

            <div class="col-sm-3">
                
                Folders per page:
                <select ng-model="selectedNumberOfFolders" ng-change="updatePage()">
                    <option ng-repeat="x in foldersNumberOptions" value={{x}}>{{x}}</option>
                </select>
            </div>
        </div>

        </div>
    <div class="spinner" ng-show="isLoading" ><br/><br/><br/><h3>Loading...</h3></div>
</body>
</html>

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-ui-bootstrap.js"></script>
<script src="~/Scripts/SharepointLib/Modules.js"></script>
<script src="~/Scripts/SharepointLib/Services.js"></script>
<script src="~/Scripts/SharepointLib/Controllers.js"></script>